html,
body{
    height: 100%;
    width: 100%;
}



.kl-nav {
    padding-top: 52px;
}

a:focus, a:hover {
    color: #D14233;
    text-decoration: underline;
}

.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
}

.navbar-nav .active a {
    border: 2px solid #D14233;

}

.nav > li > a {
    color: #B32213;
    font-family: Open Sans;
    font-size: 14px;
    font-style: normal;
}

.nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #D14233;
}

.kl-content .row .text {
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 40px;
}

.kl-content .row h1 {
    font-size: 80px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 8px;
}

.kl-content .row p {
    font-size: 16px;
    font-family: Raleway;
}

.kl-content .row h3, .kl-content .row h4 {
    font-weight: 600;
    font-family: Roboto;
    padding-bottom: 5px;
}

.buttons {
    padding-top: 10px;
}

.text {
    padding-top: 201px;
}

.big-letter {
    height: 100%;
    width: 100%;
    background-color: #0009;
}

.text h1 {
    color: whitesmoke;
    font-family: roboto;
}

.text h3 {
    color: whitesmoke;
    font-family: roboto;
}

.btn-lg{
    height: 30px;
    width: 30px;
    border-radius: 15px;
    padding: 6px 6px;
}

.social ul {
    padding-left: 55%;
}

.social ul > li {
    float: left;
    padding: 10px 15px;
    font-size: 20px;
    color: #fff;
}

.social ul > li > a {
    color: #5bc0de;
}



.foot-txt ul > li {
    padding: 10px 10px;
    padding-top: 15px;
    font-size: 15px;
    list-style: none;
    color: #fff;
}

.social ul > li {
    list-style: none;
}

.container-flex {
    padding-top: px;
}

.view{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}



/* Startups Page */

.navbar {
    background-color: #45150800;
    height: 100px;
}

.content h3 {
    margin-top: 10px;
}

.log-text h3 {
    margin-top: 50px;
}

.footer {
    background-color: #441505;
}



/* Register */

.page h3 {
    padding-top: 120px;
}

.footer {
    margin-top: 10rem;
}

/*login */
.padding {
    margin-top: 18px;
}

.space h3 {
    padding-top: 120px;
}

.footer {
    margin-top: 0em;
}
